div.jumbotron.hero-technology {
  color: #fff;
  text-align: center;
  background: url('assets/img/Banner.jpeg');
  background-size: cover;
  background-position: center top;
  padding-top: 150px;
  padding-bottom: 100px;
  height: 500px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  background-attachment: fixed;
}
div.jumbotron.hero-technology >p{
  background-color:rgba(25, 4, 39, 0.4);

}
h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 2px 2px rgba(0,0,0,0.3);
  color: #fff;
  font-weight: 500;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  background-color: rgba(0,0,0,0.1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.7);
  font-weight: 500;
}

